.vscode/**
.vscode-test/**
out/**

src/**
.git
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.
tests
*.log
**/*.js.map
*.vsix

# Exclude everything in node_modules by default
node_modules/**

# Include Puppeteer's local Chromium folder
!node_modules/puppeteer/.local-chromium

# Include Puppeteer's package.json and required files
!node_modules/puppeteer/package.json
!node_modules/puppeteer/lib/**

# Retain dist folder
!dist/**
